/hello.c++
/hello.exe
/hw1.c++
/hw1.exe
/if.c++
/if.exe
/pattern
/pattern1.exe
/pattern2.exe
/pattern3.exe
/pattern4.exe
/pattern5.exe
/pattern6.exe
/pattern7.exe
/pattern8.exe
/pattern9.exe
/Question
/Sum.c++
/Sum.exe
/tempCodeRunnerFile.c++
/varoible.c++
/varoible.exe